Leemos los archivos csv

In [3]:
import pandas as pd

listings = pd.read_csv('listings.csv')
reviews = pd.read_csv('reviews.csv')
# calendar = pd.read_csv('calendar.csv')
neighborhoods = pd.read_csv('neighbourhoods.csv')

calendar = pd.read_csv('calendar.csv')

# Exploramos los datos
print("listings")
print(listings.head())

listings
      id                                              name   host_id  \
0  11508                Amazing Luxurious Apt-Palermo Soho     42762
1  14222      RELAX IN HAPPY HOUSE - PALERMO, BUENOS AIRES  87710233
2  15074                             ROOM WITH RIVER SIGHT     59338
3  16695                         DUPLEX LOFT 2 - SAN TELMO     64880
4  20062  PENTHOUSE /Terrace & pool /City views /2bedrooms     75891

       host_name  neighbourhood_group neighbourhood   latitude  longitude  \
0        Candela                  NaN       Palermo -34.581840 -58.424150
1          María                  NaN       Palermo -34.586170 -58.410360
2         Monica                  NaN         Nuñez -34.538920 -58.465990
3  Elbio Mariano                  NaN     Monserrat -34.614390 -58.376110
4         Sergio                  NaN       Palermo -34.581848 -58.441605

         room_type     price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt   67518.0               3                 44  2025-01-26
1  Entire home/apt   22375.0               7                123  2025-01-18
2     Private room       NaN              29                  0         NaN
3  Entire home/apt   52511.0               2                 45  2019-11-30
4  Entire home/apt  113360.0               2                330  2025-01-17

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.29                               1               300
1               0.80                               6                44
2                NaN                               1                 0
3               0.27                               9               365
4               1.84                               4               209

   number_of_reviews_ltm license
0                      5     NaN
1                      8     NaN
2                      0     NaN
3                      0     NaN
4                     25     NaN

In [ ]:
print("reviews")
print(reviews.head())

   listing_id        date
0       11508  2012-07-02
1       11508  2012-12-26
2       11508  2013-01-05
3       11508  2013-07-28
4       11508  2013-12-22

In [ ]:
print("neighborhoods")
print(neighborhoods.head())

   neighbourhood_group neighbourhood
0                  NaN     Agronomia
1                  NaN       Almagro
2                  NaN     Balvanera
3                  NaN      Barracas
4                  NaN      Belgrano

In [ ]:
print("calendar")
print(calendar.head())

# Extraemos el símbolo '$' a una nueva columna y convertimos el precio a float
# Extract currency symbol if present, otherwise set to None
calendar['currency_symbol'] = calendar['price'].str.extract(r'(\$|€|£)')

# Clean and convert price, handling different formats
calendar['price'] = calendar['price'].str.replace(r'[$€£]', '', regex=True) \
                                   .str.replace(',', '') \
                                   .replace('', '0') \
                                   .astype(float)



print(calendar.describe())

calendar
   listing_id        date available   price  adjusted_price  minimum_nights  \
0       11508  2025-01-30         f  $60.00             NaN             3.0
1       11508  2025-01-31         f  $60.00             NaN             3.0
2       11508  2025-02-01         f  $60.00             NaN             3.0
3       11508  2025-02-02         f  $60.00             NaN             3.0
4       11508  2025-02-03         f  $60.00             NaN             3.0

   maximum_nights currency_symbol
0          1125.0               $
1          1125.0               $
2          1125.0               $
3          1125.0               $
4          1125.0               $
         listing_id         price  adjusted_price  minimum_nights  \
count  1.283778e+07  1.283778e+07             0.0    1.283776e+07
mean   7.117867e+17  1.444410e+03             NaN    6.025412e+00
std    4.840909e+17  3.174754e+04             NaN    2.418471e+01
min    1.150800e+04  0.000000e+00             NaN    1.000000e+00
25%    4.719456e+07  3.000000e+01             NaN    2.000000e+00
50%    8.875646e+17  4.000000e+01             NaN    2.000000e+00
75%    1.095203e+18  6.100000e+01             NaN    4.000000e+00
max    1.344330e+18  4.500000e+06             NaN    1.000000e+03

       maximum_nights
count    1.283776e+07
mean     6.112193e+02
std      4.453138e+02
min      1.000000e+00
25%      3.650000e+02
50%      3.650000e+02
75%      1.125000e+03
max      1.825000e+03

In [24]:
# Mostramos los valores únicos de price ordenados
print("Valores únicos de price:")
# print(calendar['price'].sort_values().head(200000).tail(200))
print(calendar[calendar['price'] >= 30].size)
print(calendar.size)

Valores únicos de price:
78758112
102702216